* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: "Roboto", sans-serif;
  color: white;
}

body{
  background-image: url(../images/background.png); 
  background-position: center;
  height: 100vh;
}

a{
  text-decoration: none;
  text-transform: uppercase;
}

ul{
  list-style-type: none;
}
header{
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.7);
  align-items: center;
  padding: 2rem 0rem;
}

ul{
  display: flex;
  justify-content: space-evenly;  
}

header .logo{
  font-size: 2rem;
  margin : 0rem 1.5rem;

}

ul li{
  margin-right: 1rem;
}

ul li a {
  font-size: 0.9 rem;
  padding: 10px 10px;
}

ul li a.active,
ul li a:hover{
  background-color: grey;
  transition: 0.5s;
  border-radius: 4px;

}

.hamburger{
  position: absolute;
  right: 1.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height:21px;
  display: none;
}

.hamburger .bar{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 768px){
  body{
    overflow-x: hidden;
    background-position: cover;
  }


  .hamburger {
    display: flex;
    cursor: pointer;
  }

  ul {
    flex-direction: column;
    position: absolute;
    top: 14vh;
    right :-100%;
    background-color: rgba(0,0,0,0.7);
    height: 86vh;
    width: 100%;
    align-items: center;
  }
  ul li {
    margin-right: 0px;
  }

  .menu-slide {
    right: 0;
    transition: right 0.3 ease-in;
  }
}

